@model IEnumerable<BugTracker2.Models.ApplicationUser>

@{
    ViewBag.Title = "ListUsers";
}

<h2>ListUsers</h2>


<h2>@ViewBag.Title.</h2>
@foreach (var item in Model)
{
    <div>
        @Html.Raw(item.Email)
    </div>
}
