@model BugTracker2.Models.DashboardViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to Bugtracker, @Model.UserDisplayName</h2>

<div class="col-md-12">
    <div class="col-md-4">
        <h4>Your Assignmented Tickets</h4>
        @foreach (var item in Model.UserAssignments)
        {
            <div class="TicketComment">
                @item.Title
            </div>
        }
    </div>
    <div class="col-md-4">
        <h4>Your Projects</h4>

        @foreach(var item in Model.UserProjects)
        {
            <div class="TicketAttachment">
                @item.Name
            </div>
        }
    </div>
    <div class="col-md-4">
        <h4>Your Tickets</h4>

        @foreach(var item in Model.UserTickets)
        {
            <div class="TicketHistory">
                @item.Title
            </div>
        }
    </div>
</div>
 
