@model IEnumerable<BugTracker2.Models.Project>

@{
    ViewBag.Title = "List of Projects";
}

<h2>@ViewBag.Title</h2>
<span>@Html.ActionLink("Create new project", "CreateProject" )</span>
<br />
<table class="table">
    <tr>
        <th>
            Project Name
        </th>
        <th>
            Project Users
        </th>
        <th>
            Project Tickets
        </th>
        <th>
            Actions
        </th>
    </tr>



    @*@foreach (var item in model)
    {
        <tr>
            <td>
                @Html.Raw(item.Name)
            </td>
            <td>
                @foreach(var item2 in item.ProjectUsers)
                {

                        @Html.Raw(item2.DisplayName);
                        <br />
                    
                }
            </td>
            <td>
                @foreach(var item2 in Model.AllTickets)
                {
                    Html.Raw(item2.Title);
                    <br />
                }
            </td>
            <td>

            </td>
        </tr>
    }*@

</table>
